
 
.coluna{
    height:200px;
    border-bottom:solid 5px;
    background-color: transparent;
}
 
.celula{
    width:200px;
    height:100%;
    border-right:solid 5px ;
    float:left;
	background-color:transparent;
}

#mesa{
    width:610px;
    height:610px;
    border:solid 5px;
    margin: auto;
}
#back{
	background-image: url(img/3.jpg);
	background-size: cover;
}